#noticeBoard{
	max-width: 700px;
	margin-left: 400px;
	padding-top: 20px;
}
.notice{
	position: relative;
	background-color: #eec;
	width:200px;
	padding:0px 10px 10px 10px;
	display:inline-block;
	border-radius: 5px;
	margin: 5px;
	font-family: Tahoma;
	border-top:solid 1px #eee;
	border-left:solid 1px #eee;
	border-right:solid 1px #333;
	border-bottom:solid 1px #333;
	box-shadow:4px 4px 3px rgba(20%,20%,40%,0.5);
}
.notice:hover{
	box-shadow:4px 4px 3px rgba(60%,60%,90%,0.7);
}
.notice div:nth-child(odd){
	/*background-color: #dfd;*/
}
.notice div{
	border-bottom: dashed 1px #333;
	cursor: url("../images/cursor.png"), auto;
	padding-left: 35px;
	/*color: #822;*/
	height: 20px;
	position: relative;
}
.notice div img{
	max-height: 20px;
	max-width: 30px;
	position: absolute;
	left: 0px;
}
.notice .wood{
	background-color: #ca8;
}
.notice .mineral{
	background-color: #aac;
}
.notice .flower{
	background-color: #ce8;
}
.notice .cloth{
	background-color: #ef7;
}
.notice div:hover{
	background-color: #bbb;
}
.notice h3{
	background-color: #bbb;
	border-bottom:solid 1px #999;
	padding-bottom: 3px;
	padding-left: 5px;
	margin-top: -1px;
	font-size: 13px;
	color: #228;
	height: 25px;
	margin-bottom: 8px;
}
.notice h3 img{
	max-width: 25px;
	max-height: 25px;
	vertical-align: middle;
}
.template{
	display: none;
}
.close{
	background-color: #eef;
	position: absolute;
	right: -1px;
	top: -2px;
	font-weight: bold;
	width: 27px;
	height: 28px;
	text-align: center;
	vertical-align: middle;
	line-height: 27px;
	border: solid 1px #999;
	cursor: pointer;
	border-top-right-radius: 5px;
	border-right: solid 1px #333;
}
.close:hover{
	color: red;
}
.marked{
	text-decoration: line-through;
}
.unmark{
	text-decoration: none;
}
/*http://jsfiddle.net/dzu2734c/*/