#attacker,#weapon_p,#weapon_m,#critical{
	display: inline-block;
}
select{
	background-color: #222;
	border-radius: 5px;
	width: 115px;
	text-align: center;
}
option{
	width: 100px;
}
.earth, #skill_m option:nth-child(4n+1){
	color: #4f4;
}
.water, #skill_m option:nth-child(4n+2){
	color: #44f;
}
.fire, #skill_m option:nth-child(4n+3){
	color: #f44;
}
.wind, #skill_m option:nth-child(4n){
	color: #ff4;
}
#monStatus div.panel{
	border: #8f8 1px solid;
	cursor: pointer;
	/*border-collapse: separate;*/
}
.m_basic{
	/*background-color: #222;*/
	border-bottom: #6f6 1px dotted;
	/*text-align: justify;*/
	color: orange;
}
.m_basic span{
	margin: 1px 6px;
	/*font-style: italic;*/
	font-weight: bold;
}
.attr{
	border-bottom: #6f6 1px dotted;
	text-align: justify;
}
.attr span{
	padding: 1px 4px;
}
.m_hp, .m_def, .m_mnd{
	border-bottom: #6f6 1px dotted;
	font-style: italic;
}
.selectedMonster{
	background-color: #111;
	/*border-color: #ff0;*/
	border: #ff0 1px solid;
}
.shock{
	color: #fff;
}
#monTemplate, #skill_plv, #shkArea{
	display: none;
}
#chart{
	min-width: 310px;
	height: 500px;
	margin: 10px;
}
#matk{
	text-align: center;
}
#m_lv_span{
	display: none;
}